<div ng-cloak>
    <div class="row">
        <div class="col-md-3">
            <span class="lighthouse img-responsive img-rounded"></span>
            <span class="ttlogo img-responsive img-rounded"></span>
        </div>
        <div class="col-md-9">
            <h1 translate="main.title" translate-values="{username: '{{account.login}}'}">Welcome, {{account.login}}!</h1>
            <p class="lead" translate="main.subtitle"></p>

            <div ng-switch="isAuthenticated()">
                <br/>
                <div class="well infobox" ng-switch-when="false" translate="global.messages.info.authenticated">
                    If you want to <a class="alert-link" href="#/login">sign in</a>, you can try the default accounts:<br/>- Administrator (login="admin" and password="admin") <br/>- User (login="user" and password="user").
                </div>

                <div class="well infobox" ng-switch-when="false" translate="global.messages.info.register">
                    You don't have an account yet? <a class="alert-link" href="#/register">Register a new account</a>
                </div>



                    <div class="table-responsive">
                        <table class="jh-table table table-striped table-condensed table-hover">
                            <thead>
                                <tr jh-sort="predicate" ascending="reverse" callback="loadPluginHomeDTOs()">
                                    <th jh-sort-by="pluginId"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                                    <th jh-sort-by="pluginName"><span translate="lighthouseApp.plugin.name">Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                                    <th jh-sort-by="severityOrder"><span translate="lighthouseApp.plugin.critical"></span><span class="glyphicon glyphicon-sort"></th>
                                    <th jh-sort-by="severityOrder"><span translate="lighthouseApp.plugin.high"></span></th>
                                    <th jh-sort-by="severityOrder"><span translate="lighthouseApp.plugin.medium"></span></th>
                                    <th jh-sort-by="severityOrder"><span translate="lighthouseApp.plugin.low"></span></th>
                                    <th jh-sort-by="severityOrder"><span translate="lighthouseApp.plugin.info"></span></th>
                                    <!--<th></th>-->
                                </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="plugin in plugins track by plugin.pluginId" ui-sref="plugin.detail({pluginId:plugin.pluginId})">
                                <td>{{plugin.pluginId}}</td>
                                <td>{{plugin.pluginName}}</td>
                                <td>{{plugin.defectsCountBySeverity.CRITICAL == null ? '-' : plugin.defectsCountBySeverity.CRITICAL}}</td>
                                <td>{{plugin.defectsCountBySeverity.HIGH == null ? '-' : plugin.defectsCountBySeverity.HIGH}}</td>
                                <td>{{plugin.defectsCountBySeverity.MEDIUM == null ? '-' : plugin.defectsCountBySeverity.MEDIUM}}</td>
                                <td>{{plugin.defectsCountBySeverity.LOW == null ? '-' : plugin.defectsCountBySeverity.LOW}}</td>
                                <td>{{plugin.defectsCountBySeverity.INFO == null ? '-' : plugin.defectsCountBySeverity.INFO}}</td>
                                <!--
                                <td class="text-right">
                                    <div class="btn-group flex-btn-group-container">
                                        <button type="submit"
                                                ui-sref="plugin.detail({id:plugin.id})"
                                                class="btn btn-info btn-sm">
                                            <span class="glyphicon glyphicon-eye-open"></span>
                                            <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                                        </button>
                                    </div>
                                </td>
                                -->
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="text-center">
                        <uib-pagination items-per-page="10" boundary-link-numbers="true"  class="pagination-sm" total-items="totalItems" ng-model="page" ng-change="loadPluginHomeDTOs()"></uib-pagination>
                    </div>
            </div>
        </div>
    </div>
</div>
