<div>
    <h4 translate="lighthouseApp.scan.home.title">Scan Results</h4>
    <jh-alert></jh-alert>
    <div class="table-responsive">
        <table class="jh-table table table-striped table-condensed">
            <thead>
                <tr jh-sort="predicate" ascending="reverse" callback="loadAllDefects()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="title"><span translate="lighthouseApp.defect.title">Title</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="code"><span translate="lighthouseApp.defect.code">Code</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="severity"><span translate="lighthouseApp.defect.severity">scan</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="isFalsePositive"><span translate="lighthouseApp.defect.isFalsePositive">scan</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ui-sref-active="active info" ng-repeat="defect in defects track by defect.id"
                    ui-sref="plugin.detail.defects.detail({defectId:defect.id})">
                    <td>{{defect.id}}</td>
                    <td>{{defect.title}}</td>
                    <td>{{defect.code}}</td>
                    <td>{{defect.severity}}</td>
                    <td>{{defect.isFalsePositive}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <uib-pagination items-per-page="10" boundary-link-numbers="true"  class="pagination-sm" total-items="totalItems" ng-model="page" ng-change="loadAllDefects()"></uib-pagination>
    </div>
</div>
