<div>
    <h4 translate="lighthouseApp.scan.home.title" translate-values="{count:'{{totalItems}}'}">Defect Results</h4>

    <div class="table-responsive">
        <table class="jh-table table table-striped table-condensed" my-search-form my-collection="defects" my-search-dto="searchDTO" page="page" size="size" sort="sort" search-method="loadAllDefects()">
            <thead>
                <tr>
                    <td></td>
                    <td><my-search-form-field my-search="sourceIP"></my-search-form-field></td>
                    <td><my-search-form-field my-search="title" ></my-search-form-field></td>
                    <td></td>
                    <td>
                        <my-search-form-enum-field my-search="severity" enum-list="['CRITICAL', 'HIGH', 'MEDIUM', 'LOW', 'INFO']" ></my-search-form-enum-field>

                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr jh-sort="predicate" ascending="reverse" callback="loadAllDefects()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="sourceIP"><span translate="lighthouseApp.defect.sourceIP">SourceIP</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="title"><span translate="lighthouseApp.defect.title">Title</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="code"><span translate="lighthouseApp.defect.code">Code</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="severity"><span translate="lighthouseApp.defect.severity">scan</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="falsePositive"><span translate="lighthouseApp.defect.isFalsePositive">scan</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="needManuelCheck"><span translate="lighthouseApp.defect.needManuelCheck">scan</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="previousDefect"><span translate="lighthouseApp.defect.newDefect">scan</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ui-sref-active="active info" ng-repeat="defect in defects track by defect.id "
                    ui-sref="plugin.detail.defects.detail({defectId:defect.id})">
                    <td>{{defect.id}}</td>
                    <td>{{defect.sourceIP}}</td>
                    <td>{{defect.title}}</td>
                    <td>{{defect.code}}</td>
                    <td>{{defect.severity}}</td>
                    <td align="center" style="width: 10%">
                        <span ng-show="defect.falsePositive" ng-click="switchFalsePositiveFlag(defect, false)" class="glyphicon glyphicon-check" style="color: darkgreen"></span>
                        <span ng-show="!defect.falsePositive" ng-click="switchFalsePositiveFlag(defect, true)" class="glyphicon glyphicon-minus" style="color: gray"></span>
                    </td>
                    <td align="center" style="width: 10%">
                        <span ng-show="defect.needManuelCheck" ng-click="switchNeedManuelCheckFlag(defect, false)" class="glyphicon glyphicon-check" style="color: darkgreen"></span>
                        <span ng-show="!defect.needManuelCheck" ng-click="switchNeedManuelCheckFlag(defect, true)" class="glyphicon glyphicon-minus" style="color: gray"></span>
                    </td>
                    <td align="center" style="width: 10%">
                        <span ng-show="defect.previousDefect == null" class="glyphicon glyphicon-check" style="color: darkgreen"></span>
                        <span ng-show="defect.previousDefect != null" class="glyphicon glyphicon-minus" style="color: gray"></span>
                    </td>
                    <td style="width:auto;"></td>
                </tr>
            </tbody>
        </table>

    <div class="text-center">
        <uib-pagination items-per-page="10" boundary-link-numbers="true"  class="pagination-sm" total-items="totalItems" ng-model="page" ng-change="loadAllDefects()"></uib-pagination>
    </div>

    <jh-alert></jh-alert>
</div>
